@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.navbar {
    background-color: #131313;
    padding: 16px 52px;
}
.navbar .navbar-brand {
    font-size: 20px;
    font-weight: 700;
}
#navbarSupportedContent > ul > li:nth-child(n) > a {
    color: #fff;
    font-size: 20px;
    padding: 0px 16px;
    font-weight: 600;
}

#navbarSupportedContent > button {
    color: #fff;
    font-weight: 400;
    padding: 3px 15px;
    font-size: 20px;
    border-radius: 30px;
    border: 1px solid #fff;
}
#navbarSupportedContent > ul > li:nth-child(n) > a:hover {
    color: #BC5F04;
}
 #navbarSupportedContent > button:hover {
    color:#BC5F04;
    background: #131313;
    border: 1px solid #BC5F04;
} 